body {
    background-color: #FBEEFF;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 0;
    padding-top: 170px;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

a {
    text-decoration: none;
}

#loadingAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/vvv2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#loadingAnimation dotlottie-player {
    width: 100px;
    height: 100px;
}


.lottiecharacter {
    position: fixed;
    z-index: 5000;
    bottom: 0;
    right: 0;
}

.lottiecharacter:hover {
    cursor: pointer;
}

#display-username {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 90px;
    color: white;
    padding-bottom: 400px;
}

/*.icon {
    margin-left: 0;
}
*/

.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: auto; 
    transition: top 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 145px;
}

.navbar img {
    width: 270px;
    height: 90px;
    padding-top: 20px;
}
@media screen and (max-width: 500px) {

    .navbar {
        display: flex;
        width: 100%;
        height: auto;
    }

    .navbar img {
        width: 250px;
        height: 100px;
    }

    .nav-links {
        text-align: center;
        width: 915px;
    }
    .nav-links li {
        font-size: 20px;
        text-align: center;
    }
    #myVideo {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #memberhome {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        padding: 190px;
    }
    
    #memberhome h1 {
        text-align: center;
    }

    .featuredartist {
        display: flex;
        width: 100%;
        height:400px;
        padding: 100px;
    }


  }

.nav-links a {
    text-decoration: none;
    color: #eb9be4;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.nav-links a:hover {
    color: #6F647D;
}
  

.nav-links {
    list-style: none;
    display: flex;
    gap: 2em;
}


#leaderboardnav a {
    color: #be2020;
}

#leaderboardnav a:hover {
    color: #6F647D;
}


.menu {
    display: flex;
    font-size: 16px;
    gap: 1em;
}

.menu li:hover {
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.menu h3 {
    font-size: 17px;
    text-align: center;
}


#memberhome {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 4.5rem;
    color: #fff;
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* Ensure full viewport height for vertical centering */
    padding: 50px;
}

#memberhome a {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 4.8rem;
}

#memberhome a:hover {
    color: #FFDDFC;
}

#display-username {
    display: none;
}


@media screen and (max-width: 600px) {
    #memberhome {
        font-size: 3rem; /* Adjust font size for smaller screens */
        align-items: center; /* Center horizontally */
        text-align: center; /* Center text within container */
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100px;
    height: auto;
    z-index: -1;
    display: flex;
  }


  #main-holder {
    width: 50%;
    height: 70%;
    margin: 0 auto; /* Center horizontally */
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  
#login-header {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 5rem;
    margin-top: 200px;
    color: #fff;
  }
  

  #login-error-msg-holder {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 5px 5px 10px 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.spotifyicon {
    padding: 15px;
    display: flex;
}

.spotifyicon i {
    size: 3rem;
}

.spotifyicon a {
    color: #000;
}

.spotifyicon a:hover {
    color: #C35AA2;
}


.featuredartist {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    flex-basis: 49%;
    padding: 1%;
    flex-direction: column;
    cursor: pointer;
}

.featuredartist h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    text-align: center;
    position: relative;
    text-align: center;
    font-size: 7rem;
    grid-area: content;
    display: grid;
    color: #FFDDFC;
}

.featuredartist h2 {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
}


.featuredcontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    width: 80vw;
}

.featuredimage {
    flex: 1;
    display: flex;
    position: relative;
}

.featuredimage img {
    max-width: 100%;
    height: auto;
    width: 600px;
    height: 600px;
    border-radius: 10px; /* Optional: add border-radius for a rounded image */
}

.featuredcontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Adjust the margin as needed */
}

.featuredname {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 2rem;
    margin-top: 50px;
    color: #C35AA2;
}

.featuredbio {
    padding: 20px;
    color: #fff;
    font-size: 1.3rem;
}


@media (max-width: 768px) {
    .featuredcontainer {
      flex-direction: column;
      align-items: center;
    }
  
    .featuredimage {
      width: 100%;
      margin-left: 0;
    }
  
    .featuredname {
      margin-right: 0;
      margin-top: 20px; /* Adjust the margin as needed */
    }
  
    .featuredbio {
      padding: 20px;
      margin-right: 0;
    }
  }
  


.latestnews h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    text-align: center;
    position: relative;
    font-size: 7rem;
    grid-area: content;
    display: grid;
    color: #FFDDFC;
}

.latestnewscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px; 
    width: 80vw;
    
}

.latestnewsimage {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.latestnewsimage img {
    max-width: 100%;
    height: auto;
    width: 100%; /* Make the image fill its container */
    max-width: 1200px;
}

.latestnewstitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.latestnewstitle h2 {
    color: #C35AA2;
    font-size: 2rem;
}

.latestnewsbio {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FBEEFF;
    padding: 15px;
    overflow-wrap: normal;
    line-break: normal;
}


.seemorehome {
    display:flex;
    color: black;   
    background-color: #C35AA2;
    text-align: center;
    max-width: 100%;
    width: 210px;
    height: 70px;
    margin: auto;
    border-radius: 8px;
  
}

.seemorehome:hover {
    color:white;
    background-color:#FFDDFC;
}

.seemorehome a {
  text-decoration:none;
  margin: auto;
  color: #000;
  
}

.seemorehome a:hover {
    text-decoration:none;
    margin: auto;
    color: white;
    
  }

.seemorehome h1 {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align:center;
    margin:auto
}

.reviewscontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
    width: 80vw;    
}

.reviewstitle {
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 1.4rem;
}


.reviewstitle h1{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.reviewscontent {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 20px 40px;
}

.review-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.reviewsimage {
    margin-bottom: 10px; 
}

.reviewsimage img {
    width: 500px; 
    height: auto;
}

.reviewsname {
    color: white;
    text-align: center;
}

.reviewsname h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 50px;
}

.reviewsname h2 {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.concertscontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
    width: 80vw;  
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.concertset {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;

}

.concertimage {
    padding: 20px;
    align-items: center;
}

.concertimage img {
    width: 600px;
    height: auto;
    padding-left: 150px;
}

.concertname {
    color: #C35AA2;
    align-items: center;
    text-align: center;

}

.concertname h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 70px;
}

.concertname h2 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 35px;
    color: #e58f8f;   
}

.concertname p {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin: 0 auto;
    color: white;
}

.singapore {
    text-decoration: underline;
}



.leaderboardcontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
    max-width: 100%;
    width: 60vw;
}

.leaderboardset {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    cursor: pointer;
}

.leaderboardset:hover {
    background: rgba(206, 206, 206, 0.6);
    transition: 0.5s;
    border-radius: 5px;
}

.leaderboardset h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    text-align: center;
    color: white;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
}

.leaderboardset img {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}






.leaderboarddiv {
    background-color: #FDF7FF;
}
































.artistspotlight {
    display: flex;
    text-align: center;
}

.artistspotlight h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 120px;
    color: #C35AA2; 
    margin: 0 auto;
}

.artistspotlight h2 {
    color: black;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 50px;
    margin: 0 auto;
}

.artistimage {
    display: flex;
    padding: 50px;
    align-items: center;
}

.artistimage img {
    width: 875px;
    height: auto;
    margin: 0 auto;
}



.artistbio {
    display: flex;
    margin: 0 auto;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    max-width: 100%;
    width: 80%;
    height: auto;
}

.artistdisco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    position: relative;
}


.artistdiscoitem {
    position: relative;
    margin: 5px;
    width: calc(25% - 10px);
    overflow: hidden;
    position: relative;

}

.artistdisco img {
    width: 100%;
    height: auto;
    transition: transform 0.6s;
}

.artistdiscoitem:hover img {
    transform: scale(1.1);
}

.artistdiscohover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
}

.artistdiscoitem:hover .artistdiscohover {
    opacity: 1;
}

.artistdiscohover h1 {
    margin-bottom: 15px;
    color: #C35AA2;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 2.5rem;
    flex-wrap: wrap;
}

.artistdiscohover p {
    margin-bottom: 15px;
    color: white;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
}



/*news page */
.hottestnewstitle {
    display: flex;
    padding: 50px;
    margin-left: 50px; 
}

.hottestnewstitle h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 5rem;
}

.hottestnewscontainer {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.hottestnewsimage {
    padding: 50px;
    margin-left: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hottestnewsimage img {
    width: 1000px;
    height: auto;
}

.hottestnewscontainer h2 {
    text-align: center;
    font-size: 1.8rem;

}

.newscontainerscroll {
    display: flex;
    width: 100%;
}
/*
.newscontainerscroll:hover {
    background: rgba(0, 0, 0, 0.6);
transition: 0.6s;
}
*/
.newscontainerimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-left: 80px;
    height: auto;
}

.newscontainerimage img {
    width: 600px;
    height: auto;
}

.newscontainerimage h2 {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .newscontainerimage {
        flex-direction: row; /* Change to row layout on larger screens */
    }

    .newscontainerimage img {
        margin-right: 20px; /* Add margin to the right for spacing between image and text */
    }

    .newscontainerimage h2 {
        width: auto; /* Reset width for flexibility */
        margin-top: 0; /* Reset top margin */
    }
}



/*concerts*/

.upcomingconcerts {
    display: flex;
    text-align: center;
}

.upcomingconcerts h1{
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 120px;
    color: #000;
    padding-left: 20px;
}

.pickalocation {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #C35AA2;
    text-align: center;
    max-width: 100%;
    width: 220px;
    border-radius: 8px;
    margin-left: 15px;
    cursor: pointer;
    overflow: hidden;
}

.pickalocation:hover {
    color: black;
    background-color: white;
}

.location {
    display: none;
}

.location p {
    color: #000;
}

.concertscontainer1 {
    display: none;
}

.concertartistcontainer {
    white-space: nowrap;
    overflow: hidden;
}

.concertartistname {
    color: #000;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.concertartistname h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 70px;
}

.concertartistname h2 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 40px;
    color: #e58f8f;
}

.concertartistimage {
    display: flex;
    padding: 20px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.concertartistimage img {
    width: 800px;
    height: 800px;
    transition: transform 0.6s;
}

.concertartistdetails {
    text-align: center;
}

.concertartistdetails h2 {
    font-size: 35px;
    color: #000;
}

.concertartisthover:hover img {
    transform: scale(1.1);
}

.concertartisthover {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
}

.concertartistimage:hover .concertartisthover {
    opacity: 1;
}

.concertartisthover h1 {
    margin-bottom: 15px;
    color: #C35AA2;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 2.5rem;
    flex-wrap: wrap;
}

.singapore:hover{
    text-decoration: double;
}

/* Reviews */

.reviews {
    display: flex;
    text-align: center;
}

.reviews h1{
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 100px;
    color: #000;
    padding-left: 40px;
}

.reviewspagecontainer {
    display: flex;
    overflow: hidden;
}

.reviewspagecontent1 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.reviewsimages1 {
    position: relative;
    max-width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.reviewsimages1 img {
    padding: 20px;
    width: 340px;
    height: 400px;
}

.reviewsimages1 h2 {
    padding-left: 20px;
}

.reviewsimages1 p{
    padding-left: 20px;
}

.reviewrating {
    color: #C35AA2;
}

.reviewrating:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    padding: 12px;
    border-radius: 4px;
}


/*Leaderboard*/






/*VVV*/

.vibevaultvinyl{
    display: flex;
}

.vibevaultvinyl h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 120px;
    color: #C35AA2;
    padding-left: 400px;
}

/*extras*/


iframe {
    padding-top: 40px;
    width: 81%;
    height: 500px;
    margin: 0 auto;
    display: block;
}

.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px
}

.search {
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-style: none;
} 


hr.thicc {
    border: 5px solid black;
    border-radius: 5px;
    width: 90%;
}

hr.thicc2 {
    border: 5px solid black;
    border-radius: 5px;
    width: 70%;
}

hr.thin {
    border: 2px solid black;
    border-radius: 2px;
    width: 60%;
}

hr.leftsmall {
    border: 2px solid black;
    border-radius: 1px;
    width: 60%;

}


footer {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 1rem;
  }
  
  footer a {
    color: inherit;
    border: none;
    padding-top:20px;
    margin: 0 5px;
  }
  
