body {
    background-color: #000 ;
    background: url(../Images/vvv2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 0;
    padding-top: 170px;
}

body::-webkit-scrollbar {
    display: none; 
  }

a {
    text-decoration: none;
}

.logo {
    padding-top: 10px;
}


.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: auto; 
    transition: top 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 145px;
}

@media screen and (max-width: 600px) {
    /* Existing styles for screens up to 600px */

    #navbar {
        padding: 20px 10px !important;
    }

    #navbar a {
        float: none;
        display: block;
        text-align: left;

    }

    #navbar-right {
        float: none;
    }

    .navbar {
        padding: 20px 10px;
        display: flex;
    }

    .nav-links {
    }

    .nav-links li {
        font-size: 200px;
    }

    
}





.nav-links a {
    text-decoration: none;
    color: #eb9be4;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.nav-links a:hover {
    color: #6F647D;
}
  

.nav-links {
    list-style: none;
    display: flex;
    gap: 2em;
}

#leaderboardnav a {
    color: #be2020;
}

#leaderboardnav a:hover {
    color: #6F647D;
}


.logo {
    margin-bottom: -15px;
}

.menu {
    display: flex;
    font-size: 16px;
    gap: 1em;
}

.menu li:hover {
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.menu h3 {
    font-size: 17px;
    text-align: center;
}


/*VVV*/

.vibevaultvinyl{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 200px;
}

.vibevaultvinyl h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 120px;
    color: #C35AA2;
    text-align: center;
}

.howtowin {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 90px;
}

.howtowin h1 {
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    color: #C35AA2;
}

.howtowin p {
    padding: 0px;
    text-align: center;
    font-size: 17px;
}

.wincontainer {
    display: flex;
    padding: 60px;
}

.wintitle {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
}


.wintitle h1 {
    font-size: 50px;
    text-align: center;
    padding-left: 350px;

}


.wintitle a {
    text-decoration: none;
    list-style: none;
    color: #be2020;
    padding: 50px;
    border-radius: 5px;
}

.wintitle a:hover {
    border-radius: 5px;
    padding: 50px;
}

.vote {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80px;
    color: white;
    padding: 50px;
    background-color: #C35AA2;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

.vote:hover {
    background-color: #FFDDFC;
}

.vote h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

.votecontainer {
    display: none;
    max-width: 100%;
    width: 85%;
    height: auto;
    padding: 50px;
    padding-left: 50px ;
    border-radius: 10px;
    background: rgba(225, 165, 165, 0.4);

    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}



.votetitle {
    position: relative;
    padding: 50px;
}

.votetitle h1 {
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 20px;
}

.votetitle h2 {
    color: black;
    text-align: center;
}


.votingcontainer {
    display: flex;
    max-width: 100%;
    width: 75%;
    height: 155px;
    padding: 20px;
    background-color: #A1A1A1;
}

.votingartistname {
    display: flex;
    padding: 35px;
    width: 90px;
    height: auto;
}

.artistcontainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 150px;
    background-color: #E6E6E6;

}

.votingcontents {
    display: flex;
    flex-direction: row;   
    max-width: 100%;
    width: 100%;
}

.votingcontents img {
    width: 150px;
    height: 150px;
}

.votingcontents p{
    padding: 25px;
    font-size: 40px;
}

.votingcontents h2 {
    display: block;
    padding: 50px;
    margin-left: auto;

}






.votecontainer2 {
    display: flex;
    max-width: 100%;
    width: 85%;
    height: auto;
    padding: 50px;
    padding-left: 50px ;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}


.votingcontainer2 {
    display: flex;
    max-width: 100%;
    width: 75%;
    height: 155px;
    padding: 20px;
    background-color: #A1A1A1;
}


.artistcontainer2 {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 150px;
    background-color: #E6E6E6;
}

.votingcontents2 {
    display: flex;
    flex-direction: row;   
    max-width: 100%;
    width: 100%;
}

.votingcontents2 img {
    width: 150px;
    height: 150px;
}

.votingcontents2 p{
    padding: 25px;
    font-size: 40px;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
}

.votingcontents2 h2 {
    display: block;
    padding: 50px;
    margin-left: auto;
}



.readmore {
    display: block;
    padding: 40px;
    color: white;
}


.readmore {
    font-size: 40px;
    text-align: center;
    color: white;
}

.readmore a {
    text-decoration: underline;
    color: white;
}




.trimonthback {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.trimonthback h1 {
    font-size: 30px;
    text-align: center;
}

.trimonthback a {
    text-decoration: underline;
    color: white;
}


.trimonth {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.trimonth h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    color: #be2020;
    font-size: 80px;
    text-align: center;
}


.seelastmonth {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 80px;
    color: white;
    padding: 50px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

.seelastmonth h2 {
    color: #be2020;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

.seelastmonth h2:hover {
    color: #f82d2d;
}

.lastmonthcontainer {
    display: none;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(225, 165, 165, 0.4);
}

.lastmonth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lastmonth h1 {
    font-size: 60px;
    padding: 50px;
    padding-left: 85px;
    color: black;
    max-width: 100%;
    width: 91%;
}

.lastmonth h2 {
    font-size: 30px;
}

.lastmonthimg {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    max-width: 100%;
    width: 80%;
    height: auto;    
}

.lastmonthimg img {
    width: 500px;
    height: 300px;
    padding: 90px;
    transition: transform 0.6s;
}

.lastmonthimg img:hover {
    transform: scale(1.1);
}


/* Annually */

.triwinners {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    color: white;
}

.triwinners h2 {
    font-size: 30px;
    color: black;
    padding: 50px;
}

.anually {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}

.anually h2 {
    color: black;
    font-size: 45px;
    text-align: center;
    align-items: center;

}


.annualartists {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
    max-width: 100%;
    width: 100%;
    background: rgba(225, 165, 165, 0.4);

}

.annualartists h3 {
    color: white;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.annualartists h2 {
    color: white;
    text-align: center;
    align-items: center;
    font-size: 50px;
}

.annualartists h2 a {
    color: #C35AA2;
    text-decoration: none;
}

.annualartists h2 a:hover {
    color: #FFDDFC;
}

.annualartistsimg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    width: 90%;
}

.annualartistsimg img {
    width: 600px;
    height: 500px;
    padding: 30px;
}

.leaderboardwelcome {
    text-align: center;
    color: black;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    cursor: default;
}

.leaderboardwelcome h1 {
    font-size: 4.5rem;
    text-align: center;
}

























.triwin {
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow-y: hidden;
}

.triwin::-webkit-scrollbar {
    display: none;
  }

.triwinimg {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    padding-left: 10px;

}

.triwinimg img:hover {
    background: rgba(225, 165, 165, 0.4);
    cursor: pointer;
    border-radius: 5px;
}

.triwinimg img {
    width: 400px;
    height: 400px;
    padding: 30px;
}

.triprizes {
    font-size: 20px;
    text-align: center;
    align-items: center;

}

.triwincond {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.leaderboardcontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
    width: 65vw;
}

.leaderboardset {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    cursor: pointer;
}

.leaderboardset:hover {
    background: rgba(206, 206, 206, 0.6);
    transition: 0.5s;
    border-radius: 5px;
}

.leaderboardset h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    text-align: center;
    color: white;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
}

.leaderboardset img {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    padding: 50px;
}


.leaderboarddiv {
    background-color: #FDF7FF;
}

.triartists {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 80px;

}

.triartists h1{
    font-size: 40px;
    text-align: center;
    color: #be2020;
}












    /*iframe*/



.sketchfab-embed-wrapper {
    display: inline-block;
    max-width: 100%;
}


iframe {
    padding: 30px;
    width: 700px;
    height: 500px;
    padding-left: 160px;
}



.sketchfab-embed-wrapper h1 {
    display: flex;
    flex-direction: row;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 50px;
    color: #be2020;
    padding-left: 300px;
}

.sketchfab-embed-wrapper2 {
    display: flex;
    max-width: 100%;
    width: 94%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


















/*extras*/
.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px
}

.search {
    margin: 50px;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-style: none;
} 


hr.thicc {
    border: 5px solid black;
    border-radius: 5px;
    width: 90%;
}

hr.thicc2 {
    border: 5px solid black;
    border-radius: 5px;
    width: 70%;
}

hr.thin {
    border: 2px solid black;
    border-radius: 2px;
    width: 60%;
}

hr.leftsmall {
    border: 2px solid black;
    border-radius: 1px;
    width: 60%;

}

hr.whitehr {
    border: 2px solid white;
    border-radius: 1px;
    width: 95%;
}

hr.thiccwhite {
    border: 5px solid white;
    border-radius: 5px;
    width: 95%;
}

hr.whitesmall {
    border: 2px solid white;
    border-radius: 5px;
    width: 95%;
}

footer {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 1rem;
  }
  
  footer a {
    color: inherit;
    border: none;
    padding-top:20px;
    margin: 0 5px;
  }
  
