body {
    background-color: #FBEEFF;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 0;
    padding-top: 170px;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

a {
    text-decoration: none;
}

.logo {
    padding-top: 25px;
}

/*.icon {
    margin-left: 0;
}
*/

.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: auto; 
    transition: top 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

@media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }

.nav-links a {
    text-decoration: none;
    color: white;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.nav-links a:hover {
    color: #FFDDFC;
}
  

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
}


.logo {
    margin-bottom: 10px;
}

.menu {
    display: flex;
    font-size: 16px;
    gap: 1em;
}

.menu li:hover {
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.menu h3 {
    font-size: 17px;
    text-align: center;
}


#memberhome {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 4.5rem;
    color: #fff;
    text-align: center;
}

#memberhome a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

#memberhome a:hover {
    color: #FFDDFC;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100px;
    height: auto;
    z-index: -1;
    display: flex;
  }


  #main-holder {
    width: 50%;
    height: 70%;
    margin: 0 auto; /* Center horizontally */
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  
#login-header {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 5rem;
    margin-top: 200px;
    color: #fff;
  }
  

  #login-error-msg-holder {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 5px 5px 10px 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.spotifyicon {
    padding: 15px;
    display: flex;
}

.spotifyicon i {
    size: 3rem;
}

.spotifyicon a {
    color: #000;
}

.spotifyicon a:hover {
    color: #C35AA2;
}


.featuredartist {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    flex-basis: 49%;
    padding: 1%;
    flex-direction: column;
    cursor: pointer;
}

.featuredartist h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    text-align: center;
    position: relative;
    text-align: center;
    font-size: 7rem;
    grid-area: content;
    display: grid;
    color: #FFDDFC;
}

/* Your existing CSS styles remain unchanged */

.featuredcontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px; /* Optional: add border-radius for rounded corners */
    width: 80vw;
}

.featuredimage {
    flex: 1;
    display: flex;
    position: relative;
}

.featuredimage img {
    padding: 120px;
    max-width: 100%;
    height: auto;
    width: 600px;
    height: 600px;
    border-radius: 10px; /* Optional: add border-radius for a rounded image */
    margin-left: -100px;
}

.featuredname {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 2rem;
    display: flex;
    position: relative;
    margin-right: -700px;
    margin-top: 50px;
    color: #C35AA2;
}

.featuredbio {
    flex: 1;
    padding: 95px;
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: -100px;
}


.latestnews h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    text-align: center;
    position: relative;
    font-size: 7rem;
    grid-area: content;
    display: grid;
    color: #FFDDFC;
}

.latestnewscontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px; /* Optional: add border-radius for rounded corners */
    width: 80vw;
    
}

.latestnewsimage {
    display: flex;
}

.latestnewsimage img {
    padding: 150px;
    max-width: 100%;
    height: auto;
    width: 1200px;
}

.latestnewstitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.latestnewstitle h2 {
    color: #C35AA2;
    font-size: 2rem;
}

.latestnewsbio {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FBEEFF;
    padding: 15px;
    overflow-wrap: normal;
    line-break: normal;
}


.seemorehome {
    display:flex;
    color: black;   
    background-color: #C35AA2;
    text-align: center;
    max-width: 100%;
    width: 210px;
    height: 70px;
    margin: auto;
    border-radius: 8px;
  
}

.seemorehome:hover {
    color:white;
    background-color:#FFDDFC;
}

.seemorehome a {
  text-decoration:none;
  margin: auto;
  color: #000;
  
}

.seemorehome a:hover {
    text-decoration:none;
    margin: auto;
    color: white;
    
  }

.seemorehome h1 {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align:center;
    margin:auto
}

.reviewscontainer {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
    width: 80vw;    
}

.reviewstitle {
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 1.4rem;
}


.reviewstitle h1{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.reviewscontent {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 40px;
}


.reviewsimage {
    display: flex;
    padding: 20px 40px;
}

.reviewsimage img {
    width: 500px;
    height: auto;
}

.reviewsname {
    display: flex;
    padding: 20px 40px;
    color: white;
    flex-direction: column;
    align-items: flex-end;
}

.reviewsname h1{
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 50px;
}

.reviewsname h2{
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 30px;
}



.leaderboarddiv {
    background-color: #FDF7FF;
}
































footer {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rock Salt", cursive;
    font-weight: 1000;
    font-style: bold;
    font-size: 1rem;
  }
  
  footer a {
    color: inherit;
    border: none;
    padding-top:20px;
    margin: 0 5px;
  }
  